In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('sample1.csv')

In [3]:
df

,Unnamed: 0,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,...,GPA,Family income source,Class Label,Bangla,English,Math,Science,History,Social Science,Religious Study
0,0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,...,3.16,Casual Wage,NaN,60,75,70,38,86,36,77
1,1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,...,3.41,Pansion,NaN,74,68,83,84,24,63,82
2,2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,...,2.98,Own business,NaN,84,29,86,23,85,58,52
3,3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,...,2.55,Casual Wage,NaN,65,81,32,53,20,56,50
4,4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,...,2.71,Remittance,NaN,58,75,69,59,51,46,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,15-18 years,male,Native Language,Agriculture,Agriculture,Three Children,secondary,secondary,0.5-1 km,...,2.59,Farming,NaN,23,42,72,88,53,31,53
996,996,10-13 years,female,Native Language,Private sector,Immigrant,None,secondary,primary,>7 km,...,2.74,Casual Wage,NaN,20,51,66,63,79,46,58
997,997,10-13 years,male,English,Private sector,Freelancer,Three Children,None,secondary,2-3 km,...,2.32,Casual Wage,NaN,47,47,25,25,55,51,75
998,998,10-13 years,female,Native Language,Worker,Home maker,Three Children,primary,primary,2-3 km,...,3.40,Casual Wage,NaN,80,70,58,84,47,77,60
999,999,10-13 years,female,Native Language,Private sector,Home maker,Three Children,primary,secondary,4-5 km,...,2.14,Casual Wage,NaN,21,56,59,57,32,35,39

In [4]:
df["Class Label"].dtype

dtype('float64')

In [5]:
df.columns

Index(['Unnamed: 0', 'Age', 'Gender', 'Home Language', 'Father Occupation',
       'Mother Occupation', 'Number Of Siblings', 'Father Education',
       'Mother Education', 'School Distance', 'Means to school',
       'House Lighting', 'School Infrustructure', 'School Meal per day',
       'School Cost', 'GPA', 'Family income source', 'Class Label', 'Bangla',
       'English', 'Math', 'Science', 'History', 'Social Science',
       'Religious Study'],
      dtype='object')

In [6]:
for i in range(2,19):
    print(50000*i)

100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000

In [7]:
import random as r
fail=r.choice([150000,200000,180000,300000,100000])
fail

300000

In [8]:
family_annual_income=[]
for gpa in df['GPA']:
    if gpa<2.5:
        fail=r.choice([150000,200000,180000,300000,100000])

        family_annual_income.append(fail)
    else:
        fail=r.choice([100000,150000,200000,250000,300000,350000,400000,450000,500000,550000,600000,650000,700000,750000,800000,850000,900000])
        family_annual_income.append(fail)

In [9]:
df['Family Annual income']=family_annual_income

In [10]:
df.head()

,Unnamed: 0,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,...,Family income source,Class Label,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income
0,0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,...,Casual Wage,NaN,60,75,70,38,86,36,77,350000
1,1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,...,Pansion,NaN,74,68,83,84,24,63,82,200000
2,2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,...,Own business,NaN,84,29,86,23,85,58,52,400000
3,3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,...,Casual Wage,NaN,65,81,32,53,20,56,50,200000
4,4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,...,Remittance,NaN,58,75,69,59,51,46,21,300000

In [11]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [12]:
df.head()

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,Family income source,Class Label,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income
0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,Walk,...,Casual Wage,NaN,60,75,70,38,86,36,77,350000
1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,Private car,...,Pansion,NaN,74,68,83,84,24,63,82,200000
2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,Bicycle/motorbike,...,Own business,NaN,84,29,86,23,85,58,52,400000
3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,School Bus/Bus,...,Casual Wage,NaN,65,81,32,53,20,56,50,200000
4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,Walk,...,Remittance,NaN,58,75,69,59,51,46,21,300000

In [13]:
df.columns

Index(['Age', 'Gender', 'Home Language', 'Father Occupation',
       'Mother Occupation', 'Number Of Siblings', 'Father Education',
       'Mother Education', 'School Distance', 'Means to school',
       'House Lighting', 'School Infrustructure', 'School Meal per day',
       'School Cost', 'GPA', 'Family income source', 'Class Label', 'Bangla',
       'English', 'Math', 'Science', 'History', 'Social Science',
       'Religious Study', 'Family Annual income'],
      dtype='object')

In [14]:
extra_tution=[]
for i in df['Family Annual income']:
    if i<200000 :
        extra_tution.append('No')
    else:
        extra_tution.append('Yes')
extra_tution

['Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'No',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'Yes',
 'No',
 'No',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'Yes',
 'No',
 'No']

In [15]:
df['Extra Tution']=extra_tution

In [16]:
df.columns

Index(['Age', 'Gender', 'Home Language', 'Father Occupation',
       'Mother Occupation', 'Number Of Siblings', 'Father Education',
       'Mother Education', 'School Distance', 'Means to school',
       'House Lighting', 'School Infrustructure', 'School Meal per day',
       'School Cost', 'GPA', 'Family income source', 'Class Label', 'Bangla',
       'English', 'Math', 'Science', 'History', 'Social Science',
       'Religious Study', 'Family Annual income', 'Extra Tution'],
      dtype='object')

In [17]:
df['GPA'].unique()

array([3.16, 3.41, 2.98, 2.55, 2.71, 2.49, 2.89, 2.34, 3.07, 2.25, 3.23,
       2.91, 3.33, 2.13, 2.74, 3.14, 2.92, 2.85, 2.35, 3.19, 2.36, 2.64,
       2.72, 3.28, 2.58, 2.83, 2.41, 2.16, 2.61, 2.78, 3.38, 2.37, 1.88,
       2.29, 2.66, 2.5 , 2.99, 2.23, 2.81, 2.57, 3.01, 3.03, 3.08, 2.44,
       2.84, 2.46, 2.96, 2.68, 3.82, 2.22, 3.51, 3.25, 3.02, 3.61, 2.1 ,
       3.04, 2.69, 2.39, 2.43, 3.45, 3.18, 2.97, 3.71, 2.01, 2.59, 3.3 ,
       3.12, 2.47, 3.06, 2.06, 3.22, 2.87, 2.42, 2.82, 3.24, 3.05, 3.56,
       3.  , 3.11, 2.79, 1.89, 2.04, 2.8 , 3.49, 3.09, 3.46, 2.95, 3.27,
       2.76, 2.65, 2.32, 3.43, 2.52, 2.09, 3.29, 1.98, 3.96, 3.54, 2.56,
       3.44, 3.1 , 2.26, 2.28, 3.94, 1.93, 2.86, 2.24, 3.39, 3.34, 3.13,
       2.94, 1.73, 2.38, 2.12, 3.66, 3.17, 3.21, 2.17, 1.91, 2.88, 2.62,
       3.2 , 2.48, 2.14, 3.86, 2.54, 3.42, 2.77, 2.51, 3.31, 1.81, 2.67,
       2.9 , 1.96, 2.45, 2.4 , 1.99, 2.63, 2.93, 2.  , 3.15, 2.19, 2.7 ,
       3.35, 2.2 , 2.15, 2.53, 3.36, 3.47, 2.27, 3.72, 2.21, 2.75, 2.73,
       3.59, 1.87, 3.26, 2.31, 3.4 , 2.3 , 2.6 , 2.05, 3.64, 2.08, 3.91,
       1.97, 2.33, 2.11, 3.37, 3.79, 3.92, 2.03, 3.57, 3.69, 3.52, 1.94,
       3.53, 1.78, 2.18])

In [18]:
hour_study=[]
for i in df['GPA']:
    if i<2.0:
        hour_study.append('0 to 30 minutes')
    elif i<2.5:
        hour_study.append('1 hours')
    elif i<3.00:
        hour_study.append('2 hours')
    elif i<3.50:
        hour_study.append('3 hours')
    else:
        hour_study.append('above 3 hours')
hour_study

['3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '0 to 30 minutes',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 'above 3 hours',
 '1 hours',
 '2 hours',
 'above 3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 'above 3 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 'above 3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 'above 3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '0 to 30 minutes',
 '1 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '0 to 30 minutes',
 '1 hours',
 'above 3 hours',
 'above 3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 'above 3 hours',
 '2 hours',
 '0 to 30 minutes',
 '3 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '0 to 30 minutes',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 'above 3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '0 to 30 minutes',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 'above 3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '0 to 30 minutes',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '0 to 30 minutes',
 '1 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '0 to 30 minutes',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 'above 3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 'above 3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 'above 3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 'above 3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '0 to 30 minutes',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 'above 3 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 'above 3 hours',
 '2 hours',
 '2 hours',
 'above 3 hours',
 '0 to 30 minutes',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 'above 3 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 'above 3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 'above 3 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '0 to 30 minutes',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '0 to 30 minutes',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 'above 3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 'above 3 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '0 to 30 minutes',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 'above 3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 'above 3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 'above 3 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '0 to 30 minutes',
 '3 hours',
 'above 3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '3 hours',
 '1 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '0 to 30 minutes',
 '2 hours',
 '2 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 '1 hours',
 '2 hours',
 '1 hours',
 '1 hours',
 '1 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '3 hours',
 '2 hours',
 '3 hours',
 '1 hours',
 'above 3 hours',
 '1 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '2 hours',
 '1 hours',
 '3 hours',
 '1 hours']

In [19]:
df['Hours of study per day']=hour_study

In [20]:
df.head()

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day
0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,Walk,...,60,75,70,38,86,36,77,350000,Yes,3 hours
1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,Private car,...,74,68,83,84,24,63,82,200000,Yes,3 hours
2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,Bicycle/motorbike,...,84,29,86,23,85,58,52,400000,Yes,2 hours
3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,School Bus/Bus,...,65,81,32,53,20,56,50,200000,Yes,2 hours
4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,Walk,...,58,75,69,59,51,46,21,300000,Yes,2 hours

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     1000 non-null   object
 1   Gender                  1000 non-null   object
 2   Home Language           1000 non-null   object
 3   Father Occupation       1000 non-null   object
 4   Mother Occupation       1000 non-null   object
 5   Number Of Siblings      1000 non-null   object
 6   Father Education        1000 non-null   object
 7   Mother Education        1000 non-null   object
 8   School Distance         1000 non-null   object
 9   Means to school         1000 non-null   object
 10  House Lighting          1000 non-null   object
 11  School Infrustructure   1000 non-null   object
 12  School Meal per day     1000 non-null   object
 13  School Cost             1000 non-null   object
 14  GPA                     1000 non-null   float64
 15  Family income source    1000 non-null   object
 16  Class Label             0 non-null      float64
 17  Bangla                  1000 non-null   int64
 18  English                 1000 non-null   int64
 19  Math                    1000 non-null   int64
 20  Science                 1000 non-null   int64
 21  History                 1000 non-null   int64
 22  Social Science          1000 non-null   int64
 23  Religious Study         1000 non-null   int64
 24  Family Annual income    1000 non-null   int64
 25  Extra Tution            1000 non-null   object
 26  Hours of study per day  1000 non-null   object
dtypes: float64(2), int64(8), object(17)
memory usage: 211.1+ KB

In [22]:

df['Class Label']=['Yes' if i<2.6 else 'No' for i in df['GPA']]

In [23]:
df.head()

,Age,Gender,Home Language,Father Occupation,Mother Occupation,Number Of Siblings,Father Education,Mother Education,School Distance,Means to school,...,Bangla,English,Math,Science,History,Social Science,Religious Study,Family Annual income,Extra Tution,Hours of study per day
0,10-13 years,female,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,primary,0.5-1 km,Walk,...,60,75,70,38,86,36,77,350000,Yes,3 hours
1,13-15 years,female,Native Language,Unemployed,Home maker,Four or more,secondary,None,1-2 km,Private car,...,74,68,83,84,24,63,82,200000,Yes,3 hours
2,10-13 years,female,Native Language,Business,Worker,None,primary,Honors/Equivalent,0-0.5 km,Bicycle/motorbike,...,84,29,86,23,85,58,52,400000,Yes,2 hours
3,10-13 years,male,Native Language,Private sector,Home maker,Four or more,Honors/ Equivalent,Honors/Equivalent,0.5-1 km,School Bus/Bus,...,65,81,32,53,20,56,50,200000,Yes,2 hours
4,13-15 years,female,Native Language,Immigrant,Agriculture,Two Children,secondary,secondary,1-2 km,Walk,...,58,75,69,59,51,46,21,300000,Yes,2 hours

In [ ]:
df.to_csv('Student_drop_out_system.csv')

In [ ]:
df.head()